---
import Layout from "../Layouts/layout.astro";
import Header from "../Components/Index/Header.astro";
import Footer from "../Components/Index/Footer.astro";
import ArrowLeftFromArc from "../Components/Icons/Arrow-left-from-arc.astro";
import Heart from "../Components/Icons/Heart.astro";
import StaticsOfApp from "../Components/Index/StaticsOfApp.astro";
import Users from "../Components/Icons/Users.astro";
import Star from "../Components/Icons/Star.astro";
import TrendingUp from "../Components/Icons/TrendingUp.astro";
---

<Layout TitlePage="AniHub">
  <div class="Body">
    <Header />
    <main>
			<div class="Introduction">
				<h1>Tu plataforma de <span>anime favorita</span></h1>
				<p>Descrubre, vota y conceta con la comunidad anime Argentina. Sigue tus <br /> series, comparte opiniones y encuentra tu proximo anime favorito.</p>
				<div class="buttons">
					<button class="Start"><ArrowLeftFromArc size="24" color="#fff" strokeWidth="2" />Comenzar Gratis</button>
					<button class="Explore"><Heart size="24" color="#fff" strokeWidth="2"/>Explorar Catalogo</button>
				</div>
				<div class="statistics">
					<StaticsOfApp icon={Users} number="1500+" data="Usuarios Activos" />
          <StaticsOfApp icon={Star} number="3500+" data="Animes Catalogados" />
          <StaticsOfApp icon={TrendingUp} number="200+" data="Episodios Votados" />
				</div>
			</div>
    </main>
    <Footer />
  </div>

  <style>
  

    .Body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
			background: linear-gradient(135deg, #221B42 0%, #611f9b 70%, #221B42 100%);
			font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    }

    main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
			font-family: 'Geist';
			padding: 5rem;
			.Introduction {
        min-height: 70vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
				& h1 {
					font-size: 4.5rem;
					text-align: center;
					color: white;
					line-height: 1;
					& span {
						background: linear-gradient(135deg, #CA79FB, #F866BB);
						-webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
					}
				}
				& p {
					font-size: 1.3rem;
					text-align: center;
					width: 70%;
					color: #d1d5dc;
					line-height: 1.7;
				}

				& .buttons {
					height: 10%;
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 1rem;
					& button {
						width: 15rem;
						height: 2.5rem;
						border-radius: 10px;
						border: none; 
						gap: .7rem;
						cursor: pointer;
						font-weight: bold;
            color: white;
            font-size: 1rem;
					}
					& .Start {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						border: none;
            background: linear-gradient(90deg, #a844ff, #ff4ecd, #a844ff);
            background-size: 200% 100%;
            background-position: left;
            transition: all 0.3s ease-in-out;
						& svg {
              transition: transform 0.3s ease-in-out;
            }
						&:hover {
              background-position: right;
              scale: 1.1;
              box-shadow: 0 5px 10px -5px #a844ff;
							& svg {
                transform: rotate(20deg);
              }
            }
					}
					& .Explore {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						background: transparent;
						border: 1px solid #878787;
					}
				}

				& .statistics {
					height: 35%;
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 3rem;
					margin-top: 3rem;
				}
			}
    }
  </style>
</Layout>
