<footer>
  <p>&copy 2025. Hecho con 💖 para la comunidad anime de Argentina.</p>
</footer>

<style>
  footer {
    height: 10vh;
    background: linear-gradient(100deg, #471474 10%, #221B42 100%);
    border-top: 1px solid #482f5d;
    color: rgb(163, 160, 160);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
